.container{
    display: flex;
    
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;

}

.card{
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.btn{
    background-color: #6FEDB7;
}

.btn:hover{
    color: blanchedalmond;
}

img{
    width: 100%;
    height: 70%;
}