<div class="container">
    
    <div class="card" style="width: 18rem;">
        <img src="../../assets/buzios.jpeg" class="card-img-top" alt="Playas de Buzios">
        <div class="card-body">
            <h5 class="card-title">Buzíos</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn">Ver más</a>
        </div>
    </div>
    
    <div class="card" style="width: 18rem;">
        <img src="../../assets/ibiza.jpeg" class="card-img-top" alt="Playas de Ibiza">
        <div class="card-body">
            <h5 class="card-title">Ibiza</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn">Ver más</a>
        </div>
    </div>
    
    <div class="card" style="width: 18rem;">
        <img src="../../assets/rio.jpeg" class="card-img-top" alt="Playas de Rio de Janeiro">
        <div class="card-body">
            <h5 class="card-title">Río de Janeiro</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn">Ver más</a>
        </div>
    </div>
    
    <div class="card" style="width: 18rem;">
        <img src="../../assets/salta.jpeg" class="card-img-top" alt="Salta">
        <div class="card-body">
            <h5 class="card-title">Salta</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn">Ver más</a>
        </div>
    </div>
    
    <div class="card" style="width: 18rem;">
        <img src="../../assets/glaciar.jpeg" class="card-img-top" alt="Glaciar Perito Moreno">
        <div class="card-body">
            <h5 class="card-title">Glaciar Perito Moreno</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn">Ver más</a>
        </div>
    </div>
    
    <div class="card" style="width: 18rem;">
        <img src="../../assets/obelisco.jpeg" class="card-img-top" alt="Buenos Aires">
        <div class="card-body">
            <h5 class="card-title">Buenos Aires</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn">Ver más</a>
        </div>
    </div>
    
    <div class="card" style="width: 18rem;">
        <img src="../../assets/tokio.jpeg" class="card-img-top" alt="Tokio">
        <div class="card-body">
            <h5 class="card-title">Tokio</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn">Ver más</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../assets/quebec.jpeg" class="card-img-top" alt="Quebec">
        <div class="card-body">
            <h5 class="card-title">Quebec</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn">Ver más</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../assets/sidney.jpeg" class="card-img-top" alt="Sidney">
        <div class="card-body">
            <h5 class="card-title">Sidney</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn">Ver más</a>
        </div>
    </div>

</div>